<tr class="text-center align-middle">
  <td>
    <input 
      class="form-check-input"
      type="checkbox"
      [checked]="item.done"
      (change)="onCheckChange($event)" />
  </td>
  <div *ngIf="!editable; then notEditBlock else editBlock"></div>
  <ng-template #notEditBlock>
    <td>
      <h4 class="m-0">{{item.description}}</h4>
    </td>
    <td>
      <button type="button" class="btn btn-success me-2" (click)="editable = !editable">Edit</button>
      <button type="button" class="btn btn-danger" (click)="remove.emit()">Delete</button>
    </td>
  </ng-template>
  <ng-template #editBlock>
    <td>
      <input
        class="form-control"
        placeholder="edit item"
        [value]="item.description"
        #editedItem />
    </td>
    <td>
      <button type="button" class="btn btn-success me-2" (click)="saveItem(editedItem.value)">
        Save
      </button>
      <button type="button" class="btn btn-danger" (click)="editable = !editable">Cancel</button>
    </td>
  </ng-template>
</tr>